@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    box-sizing: border-box;
}

body, html {
    background-color: #121414;
}

#bio {
    background-image: linear-gradient(to right, #151b1b, #343a3f);
    width: 300px;
    height: 650px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.829);
}

#bio h1 {
    padding: 20px 20px 0px 20px;
    font-size: 2.5em;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
}

#bio p {
    font-size: .8em;
    padding: 0px 20px 5px 20px;
    text-align: justify;
}

#bio h2 {
    padding: 10px 20px 0px 20px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
}

#burguer {
    display: block;
    color: white;
    padding: 5px 20px;
    cursor: pointer;
}

#burguer:hover {
    background-color: white;
    color: black;
    font-weight: bolder;
    border-radius: 20px;
}

menu {
    display: none;
}

#html-css {
    border-radius: 5px;
    list-style-type: none;
    margin-left: 20px;
    margin-bottom: 8px;
    padding-left: 10px;
}

#html-css > li {
    padding: 2px;
}

#html-css > li > a {
    color: white;
    text-decoration: none;
}

#html-css > li > a:hover {
    background-color: white;
    color: black;
    font-weight: bolder;
    padding: 5px;
    border-radius: 10px;
}

#java {
    list-style-type: none;
}

#java > li > a {
    text-decoration: none;
    padding: 5px 20px;
    display: block;
    width: 100%;
}

#java > li > a:hover {
    width: 100%;
    background-color: white;
    color: black;
    font-weight: bold;
    border-radius: 20px;
}

#bio > a {
    padding-left: 20px;
    text-decoration: none;
}

#bio > a > img {
    padding-top: 10px;
    width: 30px;
}

#info {
    background-image: linear-gradient(to left, #151b1b, #343a3f);
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.76);
    width: 300px;
    height: 630px;
}

#info > h2 {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
    padding: 20px 20px 5px 20px;
}

#info > p {
    font-size: .8em;
    padding: 0px 20px 10px 20px;
    text-align: justify;
}

#projetos {
    width: 250px;
    height: 570px;
    margin: auto;
}

#projeto-login {
    width: 200px;
    height: 90px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 20px;
    border-radius: 15px;
    border: 2px solid black;
    box-shadow: 0px 0px 15px black;
    overflow: hidden;
}

#projeto-login:hover {
    border: 2px solid white;
}

#projeto-android {
    width: 200px;
    height: 100px;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 15px;
    border: 2px solid black;
    box-shadow: 0px 0px 15px black;
    overflow: hidden;
}

#projeto-android:hover {
    border: 2px solid white;
}

#projeto-landing-page {
    width: 200px;
    height: 100px;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 15px;
    border: 2px solid black;
    box-shadow: 0px 0px 15px black;
    overflow: hidden;
}

#projeto-landing-page:hover {
    border: 2px solid white;
}

#projeto-cordel {
    width: 200px;
    height: 100px;
    margin: auto;
    border-radius: 15px;
    border: 2px solid black;
    box-shadow: 0px 0px 15px black;
    overflow: hidden;
}

#projeto-cordel:hover {
    border: 2px solid white;
}